absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
astunparse==1.6.3
async-timeout==4.0.2
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
Bottleneck 
brotlipy==0.7.0
CacheControl==0.12.11
cachetools==5.2.0
certifi 
cffi 
charset-normalizer 
colorama==0.4.5
commonmark==0.9.1
contourpy 
cryptography 
cycler 
debugpy 
decorator 
defusedxml 
distlib==0.3.6
distro==1.7.0
entrypoints 
executing 
fastjsonschema 
Flask 
flatbuffers==22.12.6
flit_core 
fonttools==4.25.0
frozenlist==1.3.3
gast==0.4.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
gunicorn==20.0.4
h5py==3.7.0
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
itsdangerous 
jedi 
Jinja2 
joblib==1.2.0
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keras==2.11.0
kiwisolver 
libclang==14.0.6
lxml 
Markdown==3.4.1
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
msgpack==1.0.4
multidict==6.0.3
munkres==1.1.4
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy 
oauthlib==3.2.2
opt-einsum==3.3.0
packaging 
pandas==1.5.2
pandocfilters 
parso 
pep517==0.13.0
pexpect 
pickleshare 
pigar==2.0.2
Pillow==9.2.0
platformdirs==2.5.2
ply==3.11
prometheus-client 
prompt-toolkit 
protobuf==3.19.6
psutil 
psycopg2 
ptyprocess 
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
Pygments 
pymongo==3.12.0
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
pytz 
pyzmq 
qtconsole 
QtPy 
requests 
requests-oauthlib==1.3.1
resolvelib==0.8.1
rich==12.5.1
rsa==4.9
scikit-learn==1.0.1
scipy==1.9.3
seaborn==0.12.1
Send2Trash 
sip 
six 
sniffio 
soupsieve 
stack-data 
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
terminado 
testpath 
threadpoolctl==3.1.0
tinycss2 
toml 
tomli 
tornado 
traitlets 
typing_extensions 
urllib3==1.26.12
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
widgetsnbextension 
wrapt==1.14.1
yarl==1.8.2
zipp 
